@keyframes clear {
    0% {transform: rotate(0deg);}
    10% { transform: rotate(24deg); }
    16% { transform: rotate(-8deg); }
    20% { transform: rotate(10deg); }
    24% { transform: rotate(-2deg); }
    26% { transform: rotate(2deg); }
    28% { transform: rotate(0deg); }
}

.ui_input {
    @apply text-darkgrey300 w-full bg-transparent transition-all px-[2px] border-b-grey200 focus-visible:outline-0;
}


.input-clear {
    button {
        @apply flex invisible justify-end items-center w-full h-full px-12 opacity-0;
        transform: scale(.6s);
        transition: transform .15s, opacity .08s ease-out, visibility 0s .15s;
        visibility: hidden;

        svg{
            transition: fill .15s;
        }

        &:hover svg, &:focus svg {
            animation: clear 1.8s infinite;
        }
    }
}

.ui_input:valid ~ .input-clear button {
    @apply visible opacity-100;
    transition-delay: 0s, 0s, 0s;
    transform: rotate(0deg);
}
.rc-input-number-input {
    width: 100%;
}
