

.ui_input {
    @apply relative flex flex-auto items-center;

    input {
        @apply text-darkgrey300 w-full bg-transparent transition-all px-[2px] ring-0 outline-none;
    }

    button {
        @apply flex justify-end max-w-40 justify-end items-center;


        &:hover, &:focus-within {
            filter: saturate(1.5) brightness(.9);
        }
    }
}




.ui_input input:valid ~ .input-clear button {
    @apply visible opacity-100;
    transition-delay: 0s, 0s, 0s;
    transform: rotate(0deg);
}
.rc-input-number-input {
    width: 100%;
}
