.ui_Checkbox {
    @apply flex flex-col items-center justify-center min-w-max w-full h-full;

    transition: 0.1s all;

    &:focus-visible, &:hover {
        filter: brightness(.92);
    }



    .check-icon path {
        transition: all 0.15s;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
    }

    
    &_check-wrap {
        @apply bg-grey100 rounded-[50%] w-20 h-20; 
    }
    &[aria-checked="true"] &_check-wrap{
        @apply bg-primary400;
        
    }

    &[data-state='checked'] .check-icon path{
        stroke-dashoffset: 0;
    }


    &:active {
        filter: brightness(0.87);
    }

    &:disabled {
        cursor: default;

        &:hover,
        &:focus-visible,
        &:active {
            transform: none;
            filter: none;
        }
    }

}
