.ui_Button {
    @apply flex items-center justify-center min-w-max;

    transition: 0.1s all;

    &:focus-visible, &:hover {
        filter: saturate(1.2) brightness(.92);
    }


    &:active {
        transform: translateY(1.5px);
        filter: brightness(0.87);
    }

    &:disabled {
        cursor: default;

        &:hover,
        &:focus-visible,
        &:active {
            transform: none;
            filter: none;
        }
    }

    /* solid */
    &.solid {

        &.blue, &.darkgrey, &.subOrange, &.lightblue  {
            @apply text-white;
        }

        &.blue  {
            @apply bg-primary400;

        }
        &.darkgrey  {
            @apply bg-darkgrey200;
        }
        &.subOrange  {
            @apply bg-orange300;
        }
        &.white  {
            @apply bg-white;
        }
        &.warning  {
            @apply bg-warning;
        }

        &.lightgrey  {
            @apply bg-lightgrey100;
        }

        &:disabled {
            @apply bg-grey300 text-white;
        }
    }

    &.chip, &.ghost {
        @apply min-h-[35px] h-[35px] rounded-26;
    }

    /* chip */
    &.chip {
        &.white {}
        &.lightblue {}
        &.blue {
            @apply bg-primary400 text-white;
        }
        &.lightgrey {
            @apply bg-lightgrey100;
        }
    }

    /* ghost */
    &.ghost {
        @apply border-1;

        &.blue {
            @apply text-primary200 border-primary300;
        }
        &.lightblue {
            @apply text-primary300 border-primary200;
        }
    }

    &.text {
        &:focus-visible, &:hover {
            filter: saturate(2) brightness(.8);
        }

        &:disabled {
            @apply text-grey100;

            svg {
                @apply stroke-grey100;
            }
        }
    }

    &:disabled {
        cursor: not-allowed;
    }

    &.none-clickable {
        cursor: default;

        &:focus-visible, &:hover {
            filter: none;
        }
    }


}
